# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [ '1.21.x' ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        check-latest: true
        # go-version: ${{ matrix.go-version }}
        go-version-file: 'go/go.mod'
        cache-dependency-path: 'go/go.sum'
        token: ${{ secrets.WORKFLOW_GITHUB_TOKEN }}
    - name: Build
      run: go version #build -v ./tools/...

    - name: Test
      working-directory: go
      run: go test -v ./...
